{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid" style="background-color:transparent;color:black;display: grid;grid-template-columns: 0.3fr 1fr ;height: 100vh;overflow-y: hidden;scrollbar-width: 0;background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);">

    <!-- Left Sidebar  -->
    <div>
            {% if isfaculty %}
            <ul class="floating-menu" style="padding-bottom: 20%;">
       
                
                <li><a href="{% url 'studymaterials' %}">Study Materials</a></li>
                <li><a href="{% url 'debatespage' %}">Debates</a></li>
                <li><a href="{% url 'communitypage' %}">Community</a></li>
                <li><a href="{% url 'feedbacks' %}">Feedbacks</a></li>

            </ul>
            {% else %}
            <ul class="floating-menu" style="padding-bottom: 20%;">
       
                
                <li><a href="{% url 'sstudymaterialsview' %}">Study Materials</a></li>
                <li><a href="{% url 'sdebatespage' %}">Debates</a></li>
                <li><a href="{% url 'scommunitypage' %}">Community</a></li>
                <li><a href="{% url 'sfeedbacks' %}">Feedbacks</a></li>

            </ul>
            {% endif %}

    </div>
    <!-- Middle Content  -->
    <!-- Story Section  -->

    <div class="main-content" style="height: 90vh;overflow-y: scroll;width: 60vw;margin-left: 100px;color: #1e1d25;">




        <!-- Uploaded Posts Section  -->
        <!-- Post 1  -->
        {% for i in posts reversed %}
        <div class="post-container" id="{{i.id}}" style=" background:#393846;padding: 20px;width: 80%;">
            <div class="post-row" style="justify-content: space-around;">


                <div class="user-profile" style="width: 80%;align-items: flex-start;">
                    <a href="{% url 'studentprofile' i.user.username %}">

                        <img src="{{i.post_profile.profile_pic.url}}"
                            style="height: 50px;width:50px;border:3px solid rgb(105, 255, 163);" />
                    </a>

                    <div>
                        <p class="fw-bold" style="color:rgb(227, 252, 1)">{{i.user.first_name}} {{i.user.last_name}}</p>
                        <span style="font-size: 14px;color:#8c8aa7;">{{i.upload_date}}</span>
                    </div>
                </div>
                <a class="trash" href="{% url 'deletepost' i.id %}">
                    {% if i.user.username == data.reg_no %}
                    <i class="fa fa-trash" onclick="dletepost('{{i.id}}')"></i>
                    {% endif %}
                </a>

            </div>
            <p class="post-text fw-normal"
                style="font-weight: bold;letter-spacing:1px;color: rgb(224, 224, 224);width: 100%;margin-left: 40px;">
                {{i.caption}}
            </p>
            <hr style="color: rgb(230, 230, 230);">
            <div class="post-row" style="display:grid;place-items: center;justify-content: center;">

                <img src="{{i.post.url}}" alt="" style="width: 400px;height: 300px;object-fit: contain;">

            </div>
            <div class="post-row" style="display: flex;align-items: center;justify-content: flex-start;">
                <div class="activity-icons "
                    style="display: flex;align-items: center;justify-content:space-between;color: #45ffbc;margin: 10px 40px;">


                    {% if user in i.likes.all %}
                    <button style="background-color:transparent;border: 0;outline: 0;" class="likebtn mx-2"
                        type="submit">
                        {% csrf_token %}

                        <i class="fas fa-heart" style='font-size:40px;color:red;' onclick='likepost(this)'
                            id="{{i.id}}"></i>
                    </button>

                    {% else %}

                    <button style="background-color:transparent ;border: 0;outline: 0;" class="likebtn mx-2"
                        type="submit">
                        {% csrf_token %}

                        <i class="fas fa-heart" style='font-size:40px;color:grey;' onclick='likepost(this)'
                            id="{{i.id}}"></i>


                    </button>

                    {% endif %}

                    {% comment %}
                    </a> {% endcomment %}

                    <span class="fw-bold" id="likecount{{i.id}}"
                        style="color: #45ffbc;margin-right: 3px;">{{i.likes.count}} </span>Like
                    <a href="{% url 'comment' i.id %}" style="text-decoration:none ;margin-left: 40px;">
                        <div class="comment fw-bold" style="color:  #45ffbc;">
                            <i class="far fa-comment"
                                style="border-radius: 50%;height: 40px;width: 40px;font-size: 40px;margin-right: 5px;"></i>

                            Comments

                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        You're all caught up...


        <!-- Right Sidebar  -->
        <!-- <div style="color: black;">

        </div> -->
    </div>
    <script>

        function likepost(e) {
            const likeform = new FormData()
            let data = likeform.append('id', e.id);
            // (e.style.color === "grey") ? (e.style.color = "brown") : (e.style.color = 'grey');

            fetch(`like/${e.id}/`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": '{{csrf_token}}'
                },
                body: JSON.stringify(data)
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log(data);
                    let likecount = document.getElementById(`likecount${e.id}`);
                    if (e.style.color === "grey") {
                        likecount.innerHTML = (likecount.innerHTML * 1) + 1;
                        e.style.color = "red";
                    }
                    else {
                        likecount.innerHTML = (likecount.innerHTML * 1) - 1;
                        e.style.color = "grey";
                    }
                }
                )
                .catch((err) => console.log(err));
        }
    </script>

    {% endblock %}