{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inCampus-signup Page</title>
    <link rel="stylesheet" href="{% static 'asset/registerstyles.css' %}">
</head>

<style>
    body {
        background-color: #1f2029;
        color: white;
    }

    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #45ffbc;
        outline: none;
    }

    input::placeholder {
        color: grey;
    }
</style>

<body>
    <div class="content" style="height: fit-content;">
        <div class="flex-div">
            <div class="name-content">
                <h1 class="logo" style="color:#45ffbc">inCampus</h1>
                <p>Place to share your Ideas,Connect with friends</p>
            </div>

            <div class="form" style=" background: rgba(0,0,0,.5);
			box-sizing: border-box;
			box-shadow: 0 15px 25px rgba(0,0,0,.6);
			border-radius: 10px;margin-top: 35vh;">

                <p id="error-message" style="color: orange;">
                    {% for i in messages %}
                    {{i}}
                    {% endfor %}
                </p>
                <div class="titlef" style="color:white">Sign Up</div>

                <form action="{% url 'studentreg' %}" method="post" id="regform">
                    {% csrf_token %}
                    <input type="text" placeholder="Register Number " name="regno" id="regno" style="border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;" required />
                    <input type="text" placeholder="firstname " id="fname" name="fname" style="border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;" required />
                    <input type="text" placeholder="lastname " id="lname" name="lname" style="border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;" required />
                    <input type="email" placeholder="email " id="email" name="email" style="border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;" required />
                    <input type="text" placeholder="phone number " id="phone" name="phone" style="border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;" required />
                    <input type="date" placeholder="Date of Birth " name="dob" id="dob" style="border: none;
                        border-bottom: 1px solid #45ffbc;color:white;
                        outline: none;" required />

                    <select name="department" class="form-control" id="id_department" style="font-family: 'Poppins', sans-serif;border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;background-color: transparent;height: 40px;" required>
                        <option value="" selected disabled>Select your department</option>
                        <option value="MBA">MBA</option>
                        <option value="MCA">MCA</option>
                        <option value="BTECH">BTECH</option>
                        <option value="MTECH">MTECH</option>
                    </select>

                    <select name="gender" class="form-control" id="gender" style="font-family: 'Poppins', sans-serif;border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;background-color: transparent;height: 50px;" required>
                        <option value="" selected disabled>Select your Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>

                    </select>

                    <input type="password" placeholder="Password " id="pswd" name="pswd" style="border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none;" required minlength="4" />
                    <input type="password" id="cpswd" placeholder="confirm Password" name="cpswd" style="border: none;
					border-bottom: 1px solid #45ffbc;color:white;
					outline: none; " required>
                    <button class="login" type="button" style="background: rgb(96,9,240);
					background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
					border: none; " onclick="validateAndSubmitForm()">Sign Up</button>


                </form>

                <a href="{% url 'studentlogin' %}" class="create-account"
                    style="color: #45ffbc;background-color: transparent;text-decoration: none;text-decoration:underline;">
                    Already registered
                </a>

            </div>
        </div>
    </div>

    <script>
        function validateAndSubmitForm() {
            const errorMessage = document.getElementById("error-message");
            errorMessage.textContent = "";


            const regno = document.getElementById("regno").value.trim();
            const fname = document.getElementById("fname").value.trim();
            const phone = document.getElementById("phone").value.trim();
            const dob = document.getElementById("dob").value.trim();
            const email = document.getElementById("email").value.trim();
            const password = document.getElementById("pswd").value.trim();
            const cpassword = document.getElementById("cpswd").value.trim();
            const id_department = document.getElementById("id_department").value.trim();
            const gender = document.getElementById("gender").value.trim();




            if (regno.length < 4) {
                errorMessage.textContent = "invalid register number";

                return;
            }

            if (fname === "") {
                errorMessage.textContent = "Name is required.";


                return;
            }
            if (dob === "") {
                errorMessage.textContent = "Date of birth is required.";


                return;
            }
            // Validation Rules
            function validateEmail(email) {
                const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailPattern.test(email);
            }
            if (!validateEmail(email)) {
                errorMessage.textContent = "Invalid email address.";


                return;
            }
            if (phone === "") {
                errorMessage.textContent = "Phone number is required.";
                return; // Prevent form submission
            }
            function validatePhone(phone) {
                const phonepattern = /^\d{10}$/;
                return phonepattern.test(phone);
            }
            if(!validatePhone(phone)){
                errorMessage.textContent = "invalid phone number";
                return
            }
            if (id_department === "") {
                errorMessage.textContent = "Department is required.";
                return; // Prevent form submission
            }
            if (gender === "") {
                errorMessage.textContent = "Gender is required.";
                return; // Prevent form submission
            }



            if (password !== cpassword) {
                errorMessage.textContent = "passwords arent matching";


                return;
            }
            if (password.length <= 3) {
                errorMessage.textContent = "password minimum length is 4";

                return;
            }
            document.getElementById("regform").submit();

        }
    </script>
</body>

</html>